body{
    background-color: rgb(58, 175, 131);;
}

#login{
    width: 350px;
    height: 500px;
    background-color: aliceblue;
    position: relative;
    margin: 250px auto;
    padding: 50px;
}

.heading{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}


p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-top :10px;
}

.heading_text
{
    margin-bottom: 50px;
}

#email{
    font-size: 10px;
    margin-bottom: 0;
}

#password{
    font-size: 10px;
    margin-bottom: 0; 
}

.input{
    width: 80%;
    height: 20px;
    position: relative;
    bottom: 8px;
    right:4px;
    border: 0;
    background-color: rgb(246, 243, 239);
}

button{
    margin: 20px;
    width: 70%;
    height: 30px;
    background-color: rgb(58, 175, 131);;
}

#last_text{
    margin: 0 auto;
    text-align: center;
}

.img
{
    margin-top: 5px;
    width: 23px;
    height: 23px;
}
